node_modules
coverage
*.log
npm-debug.log
.logs
logs
*.swp
run
*-run
.idea
.DS_Store
.tmp
.vscode

package-lock.json
yarn.lock
.editorconfig
*clinic-flame*
*clinic-doctor*
.nyc_output/
dist

**/*.js
**/*.d.ts
core/**/dist
plugin/**/dist

plugin/oneapi/test/fixtures/modules/*/oneapi
plugin/dal/test/fixtures/modules/*/dal/

!core/common-util/test/fixtures/**/node_modules
!core/common-util/test/fixtures/**/node_modules/**/*.js
!plugin/*/test/fixtures/**/*.js
!plugin/*/typings/*.d.ts
!plugin/*/test/fixtures/apps/*/config/*.js
!plugin/*/test/fixtures/apps/**/typings/*.d.ts
!core/eventbus-decorator/src/type.d.ts
!plugin/orm/test/fixtures/prepare.js
!benchmark/**/*.js
plugin/tegg/test/fixtures/apps/**/*.js
!standalone/standalone/test/fixtures/**/node_modules
!standalone/standalone/test/fixtures/**/node_modules/**/*.js
