name: Continuous integration
on:
  push:
    branches: [ master, next ]
  pull_request:
    branches: [ master, next ]
jobs:
  Runner-ubuntu:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_DATABASE: test
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5

    strategy:
      fail-fast: false
      matrix:
        node-version: [ 20, 22 ]
    steps:
    - name: Checkout Git Source
      uses: actions/checkout@master

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: npm i

    - name: Continuous integration
      run: |
        npm run ci
        npm run tsc:pub

    - name: Code Coverage
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
  Runner-macos:
    runs-on: macOS-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [ 20, 22 ]
    steps:
      - name: Checkout Git Source
        uses: actions/checkout@master

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Mysql
        run: brew install mysql

      - name: Start Mysql
        ## arm64/x86 homebrew mysql path different
        run: brew services start mysql

      - name: Install Dependencies
        run: npm i

      - name: Continuous integration
        run: npm run ci

      - name: Code Coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
# GitHub mysql service not support windows
#  Runner-windows:
#    runs-on: windows-latest
#
#    strategy:
#      fail-fast: false
#      matrix:
#        node-version: [ 20, 22 ]
#    steps:
#      - name: Checkout Git Source
#        uses: actions/checkout@master
#
#      - name: Setup Node.js
#        uses: actions/setup-node@v4
#        with:
#          node-version: ${{ matrix.node-version }}
#
#      - name: Install Dependencies
#        run: npm i
#
#      - name: Continuous integration
#        run: npm run ci
#
#      - name: Code Coverage
#        uses: codecov/codecov-action@v5
#        with:
#          token: ${{ secrets.CODECOV_TOKEN }}
