name: Continuous integration
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 2 * * *'
jobs:
  Runner-ubuntu:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_DATABASE: test
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5

    strategy:
      fail-fast: false
      matrix:
        node-version: [ 14, 16, 18 ]
    steps:
    - name: Checkout Git Source
      uses: actions/checkout@master

    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Npm
      run: npm i -g npm@9

    - name: Install Dependencies
      run: npm i

    - name: Continuous integration
      run: |
        npm run cov-workspaces
        npm run ci-workspaces
        npm run tsc:pub

    - name: Code Coverage
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
  Runner-macos:
    runs-on: macOS-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [ 14, 16, 18 ]
    steps:
      - name: Checkout Git Source
        uses: actions/checkout@master

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Mysql
        run: brew install mysql@5.7

      - name: Start Mysql
        run: /usr/local/opt/mysql@5.7/bin/mysql.server start

      - name: Install Npm
        run: npm i -g npm@9

      - name: Install Dependencies
        run: npm i

      - name: Continuous integration
        run: npm run ci

      - name: Code Coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  Runner-windows:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [ 14, 16, 18 ]
    steps:
      - name: Checkout Git Source
        uses: actions/checkout@master

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Npm
        run: npm i -g npm@9

      - name: Install Dependencies
        run: npm i

      - name: Continuous integration
        run: npm run ci

      - name: Code Coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
